.new-note-div{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}

@mixin flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.take-note{
    @include flex;
    width: 600px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 0 20px;
    input{
        height: 44px;
        padding: 0;
        border: none;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: #111;
    }
    button{
        background-color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        height: 44px;
        width: 48px;
        padding: 10px;
    }
}

.take-note{
    button:hover{
        background-color: #c5c5c5;
        transition: 0.2s ease-in-out;
    }
}

.take-note-buttons{
    @include flex;
}



.create-note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 4px 20px;
    input{
        height: 44px;
        padding: 0;
        border: none;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: #111;
    }
    button{
        background-color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        height: 32px;
        width: 34px;
        padding: 5px;
    }
}

.pair{
    @include flex;
    .close-button{
        display: block;
        height: 36px;
        width: 100px;
        border-radius: 5px;
        padding: 8px 24px;
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.25rem;
    }
}

.create-note{
    button:hover{
        background-color: #c5c5c5;
        transition: 0.2s ease-in-out;
    }
}

@media screen and (max-width: 992px) {
    .take-note{
        width: 80%;
        margin-right: 2%;
    }
    .create-note{
        width: 80%;
        margin-right: 2%;
    }
}

@media screen and (max-width: 480px) {
    .new-note-div{
        margin-left: 10vw;
    }
    .take-note{
        button{
            height: 40px;
            width: 40px;
        }
    }
    .take-note,
    .create-note{
        button{
            svg{
                width: 20px;
                height: 20px;
            }
        }
        .note-buttons-div {
            padding-top: 0;
            button{
                margin-right: 1px;
            }
        }
    }
    .pair{
        .close-button{
            padding: 0;
            height: 32px;
        }
    }
}

@media screen and (max-width: 320px) {
    .take-note, 
    .create-note{
        width: 85%;
    }
    .take-note{
        height: 40px;
        padding: 0 5px;
        input{
            height: 40px;
        }
        button{
            height: 40px;
            width: 40px;
        }
    }
    .create-note{
        padding: 0 5px;
        .note-buttons-div {
            .small-close-button{
                display: block;
            }
            button{
                margin-right: -1px;
            }
        }
    }
    .pair{
        .close-button{
            font-size: 12px;
        }
    }
} 