.action-buttons-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1%;
    .search-button{
        display: none;
    }
    .list-button{
        display: block;
    }
    button{
        background-color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}
.action-buttons-div{
    button:hover{
        background-color: #c5c5c5;
        transition: 0.2s ease-in-out;
    }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    .action-buttons-div{
        .search-button{
            display: block;
        }
        margin-left: auto;
    }
}

@media screen and (max-width: 480px) {
    .action-buttons-div{
        .list-button{
            display: none;
        }
        button{
            height: 30px;
            width: 30px;
        }
    }
} 
