.error{
    input[type="text"],
    input[type="password"] {
        border: 1px solid red;
    }
    input[type="text"][required]:focus,
    input[type="password"][required]:focus {
        border-color: red;
    }
    input[type="text"][required]:focus + label[placeholder]:before,
    input[type="password"][required]:focus + label[placeholder]:before {
        color: red;
    }
    input[type="text"][required] + label[placeholder]:before,
    input[type="password"][required] + label[placeholder]:before {
        content: attr(placeholder);
        display: inline-block;
        margin: 0 calc(1em + 1px);
        padding: 0 2px;
        color: red;
    }
}
.input-holder{
    height: 3em;
  }
  input[type="text"],
  input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    resize: none;
    outline: none;
  }
  input[type="text"][required]:focus,
  input[type="password"][required]:focus {
    border-color: #3566b8;
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="password"][required]:focus + label[placeholder]:before {
    color: #3566b8;
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="text"][required]:valid + label[placeholder]:before,
  input[type="password"][required]:focus + label[placeholder]:before,
  input[type="password"][required]:valid + label[placeholder]:before  {
    transition-duration: 0.2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
  }
  input[type="text"][required]:invalid + label[placeholder][alt]:before,
  input[type="password"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  input[type="text"][required] + label[placeholder],
  input[type="password"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    margin-top: calc(-2.5em - 1px);
    margin-bottom: calc((3em - 1em) + 1px);
  }
  input[type="text"][required] + label[placeholder]:before,
  input[type="password"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 1px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }