.todoo-component-main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1% 5%;
    background-color:#f3f3f3;
    border-radius: 25px;
    padding: 5%;
    div{
        background-color: bisque;
        text-align: left;
        height: 100px;
        border-radius: 25px;
        padding: 5%;
    }
    div:hover{
        background-color: burlywood;
        cursor: pointer;
    }
}
.todoo-list{
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
    grid-gap: 5%;
    button{
        height: 3vh;
        border-radius: 25px;
        background-color: transparent;
        border: 1px solid sienna;
        cursor: pointer;
        color: #000;
        outline: sienna;
    }
    button:hover{
        background-color: sienna;
        outline: orange;
    }
}