.notes-holder-div{
    margin-left: 4vw;
    margin-top: 30px;

    .notes-view{
        width: 100%;
        height: 100%;  
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

#notes-list{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 2400px) {   
    .notes-holder-div{
        .notes-view{
            grid-template-columns: repeat(7, 1fr);
        }
    }
}

@media screen and (max-width: 2000px) {   
    .notes-holder-div{
        .notes-view{
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

@media screen and (max-width: 1800px) {   
    .notes-holder-div{
        .notes-view{
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

@media screen and (max-width: 1400px) {   
    .notes-holder-div{
        .notes-view{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media screen and (max-width: 1200px) {   
    .notes-holder-div{
        .notes-view{
            width: 80%;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: 992px) {
    .notes-holder-div{
        .notes-view{
            width: 70%;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 768px) {
    .notes-holder-div{
    
        .notes-view{
            display: flex;
            flex-direction: column;
        }
    }
}