.account-buttons-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    button{
        background-color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}
.account-buttons-div{
    button:hover{
        background-color: #c5c5c5;
        transition: 0.2s ease-in-out;
    }
}