.display-note-div{
    //max-width: 220px;             // To remove grid gap
    width: 100%;
    height: max-content;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    padding: 8px 12px;
    .description-div{
        overflow: hidden;           // Added for making display note equal in height
        white-space: nowrap;        // Added for making display note equal in height
        text-overflow: ellipsis;    // Added for making display note equal in height
        max-width: 250px;           // To remove grid gap
        width: 100%;                // To remove grid gap
    }
    margin-left: auto;
    margin-right: auto;
    .pair{
        margin-bottom: 8px;
        button{
            visibility: hidden;
            background-color: transparent;
            border: none;
            cursor: pointer;
            border-radius: 50%;
            height: 32px;
            width: 34px;
            padding: 5px;
        }
    }
    .note-buttons-div{
        padding-top: 20px;
        button{
            visibility: hidden;
            margin-right: 0;
        }
    }
    label{
        word-break:break-all;
    }
}

.display-note-div{
    .pair{
        button:hover{
            background-color: #c5c5c5;
            transition: 0.2s ease-in-out;
        }
    }
}

.display-note-div:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    .pair{
        button{
            visibility: visible;
            transition: 0.2s ease-in-out;
        }
    }
    .note-buttons-div{
        button{
            visibility: visible;
            transition: 0.2s ease-in-out;
        }
    }
}
.display-note-holder{
    padding: 0;
    margin: 0;
}
#display-note-list{
    max-width: 600px;
    margin-bottom: 10px;
}

.update-note-div{
    width: 110vw;
    height: 200vh;
    position: fixed;
    left: -10px;
    top: -60px;
    z-index: 6000;
    background-color: rgba(0,0,0,0.7);
}

@mixin flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.update-note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 4px 20px;
    position: absolute;    
    left: 48.5%;
    transform: translateX(-51%);
    top: 22%;
    z-index: 5000;
    input{
        height: 44px;
        padding: 0;
        border: none;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: #111;
    }
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        height: 32px;
        width: 34px;
        padding: 5px;
    }
}

.pair{
    @include flex;
    .close-button{
        display: block;
        height: 36px;
        width: 100px;
        border-radius: 5px;
        padding: 8px 24px;
        font-size: .875rem;
        font-weight: 500;
        line-height: 1.25rem;
    }
}

.update-note{
    button:hover{
        background-color: #c5c5c5;
        transition: 0.2s ease-in-out;
    }
}


@media screen and (max-width: 992px) {
    .update-note{
        width: 78%;
        margin-right: 2%;
        margin-left: 0;
        left: 47.5%;
    }
}

@media screen and (max-width: 768px) {
    .display-note-div{
        max-width: 600px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {
    .update-note{
        margin-right: 0;
        left: 48.5%;
    }
} 

@media screen and (max-width: 480px) {
    .update-note{
        left: 48.7%;
        button{
            svg{
                width: 20px;
                height: 20px;
            }
        }
        .note-buttons-div {
            padding-top: 0;
            button{
                margin-right: 1px;
            }
        }
    }
    .pair{
        .close-button{
            padding: 0;
            height: 32px;
        }
    }
}

@media screen and (max-width: 320px) {
    .update-note{
        width: 85%;
    }
    .update-note{
        width: 75%;
        left: 49%;
        .note-buttons-div {
            svg{
                width: 18px;
                height: 18px;
            }
            button{
                margin-right: -1px;
            }
        }
    }
    .pair{
        .close-button{
            font-size: 12px;
            color: #444;
        }
    }
} 


